# The address of your deployed smart contract from Hardhat
# Default Hardhat address on first deploy is 0x5FbDB2315678afecb367f032d93F642f64180aa3
CONTRACT_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3

# Backend Node Port (Default: 3000)
PORT=3000
